<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Caorle Talk</h1>
                <a href="https://www.instagram.com/caorletalk/" class="btn btn-primary btn-icon btn-round"
                    style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-instagram" style="font-size: 24px;"></i>
                </a>
                <a href="https://www.youtube.com/@CaorleTalk" class="btn btn-primary btn-icon btn-round"
                    style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-youtube" style="font-size: 22px;"></i>
                </a>
                <a href="https://open.spotify.com/show/44buMRFer9wa6tPbsntGzE?si=eac5329e26e14c06"
                    class="btn btn-primary btn-icon btn-round" style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-spotify" style="font-size: 24px;"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=61561617857205"
                    class="btn btn-primary btn-icon btn-round" style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-facebook-square" style="font-size: 24px;"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Tutti i Podcast disponibili</h2>
                </div>
            </div>
            <div class="separator separator-primary"></div>

            <div class="container" style="display: inline-flex;justify-content: space-evenly;">
                <!-- PRIMO VIDEO -->
                <div class="border rounded-5" style="margin-right: 20px;">
                    <section class="p-4 text-center w-100">
                        <div>
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/GGgtTu5XRNo?si=2z-XJY120UsLGmHB"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </section>

                    <div class="p-4 text-center border-top mobile-hidden">
                        <h1 class="title" style="font-size: 1.5em;margin-bottom: 0;">Vivere con Sostenibilità con Irene Zambusi - Vita, esperienze e Plastic Free</h1>
                    </div>

                </div>

                <!-- SECONDO VIDEO -->
                <div class="border rounded-5">
                    <section class="p-4 text-center w-100">
                        <div>
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/HHNg9Y1er0U?si=1EqRz4MrBAjXOLcZ"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </section>

                    <div class="p-4 text-center border-top mobile-hidden">
                        <h1 class="title" style="font-size: 1.5em;margin-bottom: 0;">La Forza della Dedizione con Angelo Ferrillo - Radici, Esperienze e Allenamento</h1>
                    </div>

                </div>
            </div>

            <div class="container" style="display: inline-flex;justify-content: space-evenly;margin-top: 20px;">
                <!-- PRIMO VIDEO -->
                <div class="border rounded-5" style="margin-right: 20px;">
                    <section class="p-4 text-center w-100">
                        <div>
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/nN-xGpSVZUY?si=IBG9d_4hEWpgWQ_l"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </section>

                    <div class="p-4 text-center border-top mobile-hidden">
                        <h1 class="title" style="font-size: 1.5em;margin-bottom: 0;">Credere nei Sogni con Giulia Uliari - Mettersi in gioco per realizzarsi</h1>
                    </div>

                </div>

                <!-- SECONDO VIDEO -->
                <div class="border rounded-5">
                    <section class="p-4 text-center w-100">
                        <div>
                            <iframe frameborder="0" scrolling="no" width="100%" height="100%" width="560" height="315"
                                src="assets/img/comingsoon.jpg" name="imgbox" id="imgbox">
                            </iframe>
                            <!--
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/GGgtTu5XRNo?si=2z-XJY120UsLGmHB"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            -->
                        </div>
                    </section>

                    <div class="p-4 text-center border-top mobile-hidden">
                        <h1 class="title" style="font-size: 1.5em;margin-bottom: 0;">Coming Soon</h1>
                    </div>

                </div>
            </div>




        </div>
    </div>

    <footer class="footer footer-default" style="padding-bottom: 12px;">
        <div class="container">
            <nav style="margin-top: 6px;">
                <ul>
                    <li>
                        <a href="">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="podcast" routerLink="podcast">
                            Podcast
                        </a>
                    </li>
                    <li>
                        <a href="chi-siamo" routerLink="chi-siamo">
                            Chi Siamo
                        </a>
                    </li>
                    <li>
                        <a href="contatti" routerLink="contatti">
                            Contatti
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Seguici su Instagram" data-placement="bottom"
                            href="https://www.instagram.com/caorletalk/" style="width: 45px;height: 45px;"
                            target="_blank">
                            <i class="fab fa-instagram" style="font-size: 20px;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Seguici su Youtube" data-placement="bottom"
                            href="https://www.youtube.com/@CaorleTalk" style="width: 45px;height: 45px;"
                            target="_blank">
                            <i class="fab fa-youtube" style="font-size: 20px;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Seguici su Spotify" data-placement="bottom"
                            href="https://open.spotify.com/show/44buMRFer9wa6tPbsntGzE?si=eac5329e26e14c06"
                            style="width: 45px;height: 45px;" target="_blank">
                            <i class="fab fa-spotify" style="font-size: 20px;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Seguici su Facebook" data-placement="bottom"
                            href="https://www.facebook.com/profile.php?id=61561617857205"
                            style="width: 45px;height: 45px;" target="_blank">
                            <i class="fab fa-facebook-square" style="font-size: 20px;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>