/* Stile per il contenitore video */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio (9/16 = 0.5625) */
    height: 0;
    overflow: hidden;
    width: 100%; /* Assicura che occupi tutta la larghezza del genitore */
    background-color: black; /* Aggiungi un background nel caso in cui il video non venga caricato */
  }
  
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Media query per schermi piccoli */
  @media (max-width: 768px) {
    .video-container {
      flex: 0 0 100%; /* I video occupano il 100% della larghezza su schermi piccoli */
    }
  }

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer nav ul li {
    margin-right: 15px;
}

.footer .copyright ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer .copyright ul li {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        align-items: center;
    }

    .footer nav ul,
    .footer .copyright ul {
        justify-content: center;
        margin-bottom: 10px;
    }
}