<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Caorle Talk</h1>
                <a href="https://www.instagram.com/caorletalk/" class="btn btn-primary btn-icon btn-round"
                    style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-instagram" style="font-size: 24px;"></i>
                </a>
                <a href="https://www.youtube.com/@CaorleTalk" class="btn btn-primary btn-icon btn-round"
                    style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-youtube" style="font-size: 22px;"></i>
                </a>
                <a href="https://open.spotify.com/show/44buMRFer9wa6tPbsntGzE?si=eac5329e26e14c06"
                    class="btn btn-primary btn-icon btn-round" style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-spotify" style="font-size: 24px;"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=61561617857205"
                    class="btn btn-primary btn-icon btn-round" style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-facebook-square" style="font-size: 24px;"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Tutti i Podcast disponibili</h2>
                </div>
            </div>

            <div class="separator separator-primary"></div>

            <!-- VIDEO -->
            <div class="video-row">
                <div *ngFor="let video of VideosYoutubeList" class="video-container">
                    <div class="video-wrapper">
                        <iframe [src]="video.link | safeUrl" 
                                title="YouTube video player" 
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" 
                                allowfullscreen>
                        </iframe>
                    </div>
                    <div class="video-title">
                        <h1>{{ video.titolo }}</h1>
                    </div>
                </div>
            </div>

              <div class="separator separator-primary"></div>

        </div>
    </div>

    <footer class="footer footer-default" style="padding: 12px;">
        <div class="container" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
            <nav>
                <ul style="display: flex; padding: 0; margin: 0; list-style: none;">
                    <li style="margin-right: 15px;">
                        <a href="">
                            Home
                        </a>
                    </li>
                    <li style="margin-right: 15px;">
                        <a href="podcast" routerLink="podcast">
                            Podcast
                        </a>
                    </li>
                    <li style="margin-right: 15px;">
                        <a href="chi-siamo" routerLink="chi-siamo">
                            Chi Siamo
                        </a>
                    </li>
                    <li style="margin-right: 15px;">
                        <a href="contatti" routerLink="contatti">
                            Contatti
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                <ul style="display: flex; padding: 0; margin: 0; list-style: none;">
                    <li class="nav-item" style="margin-right: 10px;">
                        <a class="nav-link" rel="tooltip" title="Seguici su Instagram" data-placement="bottom"
                            href="https://www.instagram.com/caorletalk/" 
                            target="_blank">
                            <i class="fab fa-instagram" style="font-size: 20px;"></i>
                        </a>
                    </li>
                    <li class="nav-item" style="margin-right: 10px;">
                        <a class="nav-link" rel="tooltip" title="Seguici su Youtube" data-placement="bottom"
                            href="https://www.youtube.com/@CaorleTalk" 
                            target="_blank">
                            <i class="fab fa-youtube" style="font-size: 20px;"></i>
                        </a>
                    </li>
                    <li class="nav-item" style="margin-right: 10px;">
                        <a class="nav-link" rel="tooltip" title="Seguici su Spotify" data-placement="bottom"
                            href="https://open.spotify.com/show/44buMRFer9wa6tPbsntGzE?si=eac5329e26e14c06"
                             target="_blank">
                            <i class="fab fa-spotify" style="font-size: 20px;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Seguici su Facebook" data-placement="bottom"
                            href="https://www.facebook.com/profile.php?id=61561617857205"
                             target="_blank">
                            <i class="fab fa-facebook-square" style="font-size: 20px;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>


</div>