<div id="header">
        <div style="display:flex;justify-content: left;position: relative;margin-left: 18%;margin-right: auto;width: 50%;">
            <button class="buttonLeft" (click)="redirectToPage('')">Home</button>
            <button class="buttonLeft" (click)="redirectToPage('podcast')">Podcast</button>
            <button class="buttonLeft" (click)="redirectToPage('news')">News</button>
        </div>

        <img src="logo.png" alt="headerLogo" style="width: 15.0vw;height: 15.0vw;position: absolute;margin-top: 8%;">
        
        <div style="display:flex;justify-content: right;position: relative;margin-left: auto;margin-right: 18%;width: 50%">
            <button class="buttonRight" (click)="redirectToPage('social')">Social</button>
            <button class="buttonRight" (click)="redirectToPage('contatti')">Contatti</button>
            <button class="buttonRight" (click)="redirectToPage('chi-siamo')">Chi Siamo</button>
        </div>
</div>
