#header {
    height: 3.0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: cadetblue
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: cadetblue
}

button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    margin: 1%;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

button:focus,
button:hover {
    color: #fff;
}

button:focus:after,
button:hover:after {
    width: 100%;
    left: 0%;
}

button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.0vw;
    color: #f1f1f1;
    text-align: right;
    margin-left: 0px;
    padding-right: 25px;
    padding-left: 5px;
    padding-top: 12px;
    height: inherit;
    width: 100%;
    background-color: cadetblue
}