<!-- LOGO -->
<div class="logo">
    <img src="logo.png" alt="headerLogo" style="width: 8.0vw;height: 8.0vw;position: relative;margin-top: 1%;">
</div>

<!-- MENU -->
<div id="header">
    <div style="display:flex;justify-content: center;position: relative;width: 100%;">
        <button (click)="redirectToPage('')">Home</button>
        <button (click)="redirectToPage('podcast')">Podcast</button>
        <button (click)="redirectToPage('news')">News</button>
        <button (click)="redirectToPage('contatti')">Contatti</button>
        <button (click)="redirectToPage('chi-siamo')">Chi Siamo</button>
    </div>
</div>