<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Caorle Talk</h1>
                <a href="https://www.instagram.com/caorletalk/" class="btn btn-primary btn-icon btn-round" style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-instagram" style="font-size: 24px;"></i>
                </a>
                <a href="https://www.youtube.com/@CaorleTalk" class="btn btn-primary btn-icon btn-round" style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-youtube" style="font-size: 22px;"></i>
                </a>
                <a href="https://open.spotify.com/show/44buMRFer9wa6tPbsntGzE?si=eac5329e26e14c06" class="btn btn-primary btn-icon btn-round" style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-spotify" style="font-size: 24px;"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=61561617857205" class="btn btn-primary btn-icon btn-round" style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-facebook-square" style="font-size: 24px;"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Chi Siamo?</h2>
                    <h5 class="description"> Il nostro scopo è dare voce a chiunque voglia condividere e raccontare
                        qualcosa.
                        Vogliamo trasmettere emozioni e storie che possano toccare me, il nostro ospite e tutti voi che
                        ci ascoltate.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Il nostro Team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/default-avatar.png" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Nome Cognome</h4>
                            <p class="category text-primary">Ruolo</p>
                            <p class="description">Breve descrizione con anche se si vuole
                                qualche <a href="#">links</a>.
                            </p>
                            <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram" style="width: 25px;height: 25px;"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/default-avatar.png" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Nome Cognome</h4>
                            <p class="category text-primary">Ruolo</p>
                            <p class="description">Breve descrizione con anche se si vuole
                                qualche <a href="#">links</a>.
                            </p>
                            <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram" style="width: 25px;height: 25px;"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/default-avatar.png" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Nome Cognome</h4>
                            <p class="category text-primary">Ruolo</p>
                            <p class="description">Breve descrizione con anche se si vuole
                                qualche <a href="#">links</a>.
                            </p>
                            <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram" style="width: 25px;height: 25px;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="footer footer-default" style="padding-bottom: 12px;">
        <div class="container">
            <nav style="margin-top: 6px;">
                <ul>
                    <li>
                        <a href="">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="chi-siamo" routerLink="chi-siamo">
                            Chi Siamo
                        </a>
                    </li>
                    <li>
                        <a href="contatti" routerLink="contatti">
                            Contatti
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                <ul>
                    <li class="nav-item">
                      <a class="nav-link" rel="tooltip" title="Seguici su Instagram" data-placement="bottom" href="https://www.instagram.com/caorletalk/" 
                        style="width: 45px;height: 45px;" target="_blank">
                        <i class="fab fa-instagram" style="font-size: 20px;"></i>
                        <p class="d-lg-none d-xl-none">Instagram</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" rel="tooltip" title="Seguici su Youtube" data-placement="bottom" href="https://www.youtube.com/@CaorleTalk" 
                        style="width: 45px;height: 45px;" target="_blank">
                        <i class="fab fa-youtube" style="font-size: 20px;"></i>
                        <p class="d-lg-none d-xl-none">Youtube</p>
                      </a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Seguici su Spotify" data-placement="bottom" href="https://open.spotify.com/show/44buMRFer9wa6tPbsntGzE?si=eac5329e26e14c06" 
                            style="width: 45px;height: 45px;" target="_blank">
                          <i class="fab fa-spotify" style="font-size: 20px;"></i>
                          <p class="d-lg-none d-xl-none">Spotify</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Seguici su Facebook" data-placement="bottom" href="https://www.facebook.com/profile.php?id=61561617857205"
                            style="width: 45px;height: 45px;" target="_blank">
                          <i class="fab fa-facebook-square" style="font-size: 20px;"></i>
                          <p class="d-lg-none d-xl-none">Facebook</p>
                        </a>
                      </li>
                  </ul>
            </div>
        </div>
    </footer>
</div>