<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Caorle Talk</h1>
                <h1 class="title">Il podcast di Caorle</h1>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Chi Siamo?</h2>
                    <h5 class="description"> Il nostro scopo è dare voce a chiunque voglia condividere e raccontare qualcosa. 
                        Vogliamo trasmettere emozioni e storie che possano toccare me, il nostro ospite e tutti voi che ci ascoltate.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/bg6.jpg')">
                            <!-- Immagine a sinistra -->
                            <p class="blockquote blockquote-primary">"Con un formato di podcast accattivante e divertente, 
                                ci impegniamo a offrire uno spettacolo nella maniera più autentica possibile. "
                                <br>
                                <br>
                                <!-- <small>-cit</small> -->
                            </p>
                        </div>
                        <!-- Immagine a destra -->
                        <div class="image-container" style="background-image: url('assets/img/bg6.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- Terza Immagine -->
                        <div class="image-container image-right" style="background-image: url('assets/img/bg6.jpg')">
                        </div>
                        <h3>Come funzionerà CaorleTalk?</h3>
                        <p> Gli ospiti del nostro podcast saranno selezionati con cura per garantirvi interviste esclusive e approfondimenti unici.
                            Se conosci qualcuno che ha una storia da raccontare, faccelo sapere!
                        </p>
                        <p>Non perderti le nostre dirette! In alcune dei nostri podcast avrai la possibilità di seguire le interviste in tempo reale,
                           interagire con noi e con i nostri ospiti, e fare le tue domande. Ogni puntata sarà un'occasione per sentirti parte del nostro viaggio.
                        </p>
                        <p>Hai una storia interessante o un progetto innovativo da condividere? Vorresti essere ospite del nostro podcast? Scrivici e raccontaci di te,
                           potresti essere il prossimo protagonista di CaorleTalk!
                        </p>
                        <p>Ogni giorno, su reel o post, ti terremo aggiornato con piccole anticipazioni sui podcast già realizzati e sui progetti futuri.
                           Sarà un modo per rimanere sempre connessi e non perdere nessuna novità!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Il nostro Team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/default-avatar.png" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Nome Cognome</h4>
                            <p class="category text-primary">Ruolo</p>
                            <p class="description">Breve descrizione con anche se si vuole
                                qualche <a href="#">links</a>.
                            </p>
                            <a href="#" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/default-avatar.png" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Nome Cognome</h4>
                            <p class="category text-primary">Ruolo</p>
                            <p class="description">Breve descrizione con anche se si vuole
                                qualche <a href="#">links</a>.
                            </p>
                            <a href="#" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/default-avatar.png" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Nome Cognome</h4>
                            <p class="category text-primary">Ruolo</p>
                            <p class="description">Breve descrizione con anche se si vuole
                                qualche <a href="#">links</a>.
                            </p>
                            <a href="#" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Vuoi proporti per un Podcast?</h2>
            <p class="description">Compila il form qui sotto.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nome"
                            (focus)="focus=true" (blur)="focus=false">
                    </div>
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email"
                            (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80"
                            placeholder="Messaggio..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#" class="btn btn-primary btn-round btn-block btn-lg">Invia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            Torna su
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</div>