<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Caorle Talk</h1>
                <a href="https://www.instagram.com/caorletalk/" class="btn btn-primary btn-icon btn-round"
                    style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-instagram" style="font-size: 24px;"></i>
                </a>
                <a href="https://www.youtube.com/@CaorleTalk" class="btn btn-primary btn-icon btn-round"
                    style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-youtube" style="font-size: 22px;"></i>
                </a>
                <a href="https://open.spotify.com/show/44buMRFer9wa6tPbsntGzE?si=eac5329e26e14c06"
                    class="btn btn-primary btn-icon btn-round" style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-spotify" style="font-size: 24px;"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=61561617857205"
                    class="btn btn-primary btn-icon btn-round" style="width: 45px;height: 45px;" target="_blank">
                    <i class="fab fa-facebook-square" style="font-size: 24px;"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Il podcast di Caorle</h2>
                    <div style="display:flex;justify-content: center;margin-bottom: 5px;">
                        <iframe width="660" height="365"
                            src="https://www.youtube.com/embed/nN-xGpSVZUY?si=zTKflyBMWV64nyCZ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div style="display:flex;justify-content: space-between;">
                        <iframe width="50%" height="215" style="margin-right: 5px;"
                            src="https://www.youtube.com/embed/HHNg9Y1er0U?si=CzxTudT3M5pDSEtq"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <iframe width="50%" height="215"
                            src="https://www.youtube.com/embed/GGgtTu5XRNo?si=oWX7P6El5H2qWIfG"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/bg6.jpg')">
                            <!-- Immagine a sinistra -->
                            <p class="blockquote blockquote-primary">"Con un formato di podcast accattivante e
                                divertente,
                                ci impegniamo a offrire uno spettacolo nella maniera più autentica possibile. "
                                <br>
                                <br>
                                <!-- <small>-cit</small> -->
                            </p>
                        </div>
                        <!-- Immagine a destra -->
                        <div class="image-container" style="background-image: url('assets/img/bg6.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- Terza Immagine -->
                        <div class="image-container image-right" style="background-image: url('assets/img/bg6.jpg')">
                        </div>
                        <h3>Come funziona Caorle Talk?</h3>
                        <p> Gli ospiti del nostro podcast saranno selezionati con cura per garantirvi interviste
                            esclusive e approfondimenti unici.
                            Se conosci qualcuno che ha una storia da raccontare, faccelo sapere!
                        </p>
                        <p>Non perderti le nostre dirette! In alcune dei nostri podcast avrai la possibilità di seguire
                            le interviste in tempo reale,
                            interagire con noi e con i nostri ospiti, e fare le tue domande. Ogni puntata sarà
                            un'occasione per sentirti parte del nostro viaggio.
                        </p>
                        <p>Hai una storia interessante o un progetto innovativo da condividere? Vorresti essere ospite
                            del nostro podcast? <a href="contatti" routerLink="contatti">Scrivici</a> e raccontaci di
                            te,
                            potresti essere il prossimo protagonista di CaorleTalk!
                        </p>
                        <p>Ogni giorno, su reel o post, ti terremo aggiornato con piccole anticipazioni sui podcast già
                            realizzati e sui progetti futuri.
                            Sarà un modo per rimanere sempre connessi e non perdere nessuna novità!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer footer-default" style="padding-bottom: 12px;">
        <div class="container">
            <nav style="margin-top: 6px;">
                <ul>
                    <li>
                        <a href="">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="chi-siamo" routerLink="chi-siamo">
                            Chi Siamo
                        </a>
                    </li>
                    <li>
                        <a href="contatti" routerLink="contatti">
                            Contatti
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Seguici su Instagram" data-placement="bottom"
                            href="https://www.instagram.com/caorletalk/" style="width: 45px;height: 45px;"
                            target="_blank">
                            <i class="fab fa-instagram" style="font-size: 20px;"></i>
                            <p class="d-lg-none d-xl-none">Instagram</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Seguici su Youtube" data-placement="bottom"
                            href="https://www.youtube.com/@CaorleTalk" style="width: 45px;height: 45px;"
                            target="_blank">
                            <i class="fab fa-youtube" style="font-size: 20px;"></i>
                            <p class="d-lg-none d-xl-none">Youtube</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Seguici su Spotify" data-placement="bottom"
                            href="https://open.spotify.com/show/44buMRFer9wa6tPbsntGzE?si=eac5329e26e14c06"
                            style="width: 45px;height: 45px;" target="_blank">
                            <i class="fab fa-spotify" style="font-size: 20px;"></i>
                            <p class="d-lg-none d-xl-none">Spotify</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Seguici su Facebook" data-placement="bottom"
                            href="https://www.facebook.com/profile.php?id=61561617857205"
                            style="width: 45px;height: 45px;" target="_blank">
                            <i class="fab fa-facebook-square" style="font-size: 20px;"></i>
                            <p class="d-lg-none d-xl-none">Facebook</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>